<h2>更新个人信息</h2>
<%= simple_form_for(resource, as: resource_name, url: admin_registration_path, html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :name, required: true, autofocus: true, label:"登录名" %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password, autocomplete: "off", hint: "如果不想更改密码请不要填写此项", required: false, label:"密码"%>
      <%= f.input :password_confirmation, required: false,label:"密码确认" %>
      <%= f.input :current_password, hint: "输入当前密码", required: true %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "更新", class: 'btn btn-success' %>
      <%= link_to "返回", :back, class: 'btn btn-default' %>
    </div>
<% end %>


