<%= simple_form_for(@plugin) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :version, label: 'Version' %>
    <%= f.input :pkg_name, label: 'PkgName' %>
    <%= f.input :file_name, label: '文件名称' %>
    <%= f.input :file_path, label: 'Plugin 文件' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "提交", class: 'btn btn-info'%> <%= link_to '返回', plugins_path, class: 'btn btn-default' %>
  </div>
<% end %>
