<p id="notice"><%= notice %></p>

<p>
  <strong>File path:</strong>
  <%= @plugin.file_path %>
</p>

<p>
  <strong>Version:</strong>
  <%= @plugin.version %>
</p>

<p>
  <strong>Pkg name:</strong>
  <%= @plugin.pkg_name %>
</p>

<p>
  <strong>File name:</strong>
  <%= @plugin.file_name %>
</p>

<%= link_to 'Edit', edit_plugin_path(@plugin) %> |
<%= link_to 'Back', plugins_path %>
