<p id="notice"><%= notice %></p>

<p>
  <strong>Ro product brand:</strong>
  <%= @phone_model.ro_product_brand %>
</p>

<p>
  <strong>Ro product model:</strong>
  <%= @phone_model.ro_product_model %>
</p>

<p>
  <strong>Ro product name:</strong>
  <%= @phone_model.ro_product_name %>
</p>

<p>
  <strong>Ro build version release:</strong>
  <%= @phone_model.ro_build_version_release %>
</p>

<p>
  <strong>Ro build version sdk:</strong>
  <%= @phone_model.ro_build_version_sdk %>
</p>

<p>
  <strong>Ro build date utc:</strong>
  <%= @phone_model.ro_build_date_utc %>
</p>

<p>
  <strong>Ro build date:</strong>
  <%= @phone_model.ro_build_date %>
</p>

<p>
  <strong>Ro board platform:</strong>
  <%= @phone_model.ro_board_platform %>
</p>

<p>
  <strong>Ro hardware:</strong>
  <%= @phone_model.ro_hardware %>
</p>

<p>
  <strong>Ro product cpu abi:</strong>
  <%= @phone_model.ro_product_cpu_abi %>
</p>

<p>
  <strong>Proc version:</strong>
  <%= @phone_model.proc_version %>
</p>

<p>
  <strong>Proc meminfo:</strong>
  <%= @phone_model.proc_meminfo %>
</p>

<p>
  <strong>Proc cpuinfo:</strong>
  <%= @phone_model.proc_cpuinfo %>
</p>

<%= link_to 'Edit', edit_phone_model_path(@phone_model) %> |
<%= link_to 'Back', phone_models_path %>
