<%= simple_form_for(@global) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label:'名字' %>
    <%= f.input :file, label:'文件', as: :file %>
    <%= f.label 'SDK API 版本(<21 非 PIE，>=21PIE):'%><p>
    <%= f.select :sdk_api_version, pie_for_select %>

    <p><%= f.label '渠道类型'%><p>
    <%= f.select :channel_type, channel_types %>
    <%= f.input :status, as: :boolean, checked_value: true, unchecked_value: false ,label: '是否启用',hint: '选中启用，留空禁用' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "提交", class: 'btn btn-info'%>
    <%= link_to '返回', globals_path , class:'btn btn-default'%>
  </div>
<% end %>
